* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.ending {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.ending p:first-child {
    font-weight: 500;
    font-size: 9.54px;
    line-height: 12.15px;
    margin: 1.5rem 0;
}

.contact {
    font-weight: 500;
    font-size: 15.62px;
    line-height: 12.15px;
}

.ending > a {
    text-decoration: none;
    color: white;
    font-size: 20.83px;
    line-height: 12.15px;
    font-weight: 500;
    margin: 1.5rem 0;
}

footer {
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
}

.footer > img {
    width: 5rem;
}

.footer nav img {
    width: 1.2rem;
    margin-left: 4rem
}

footer nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    margin: 4rem 4rem;
}

.copyright img {
    width: 6rem;
    height: auto;
}


