* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 
body {
    background-color: #0A0119;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
 
.main-header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin: 30px;
}
 
.main-header>p {
    font-size: 13.88px;
    line-height: 16.8px;
}
 
.header-links {
    display: flex;
}
 
.header-links nav ul {
    display: flex;
}
 
.header-links nav ul li {
    list-style: none;
}
 
.header-links nav ul li a {
    text-decoration: none;
    font-size: 9.54px;
    line-height: 11.55px;
    color: white;
    margin-right: 65px;
}
 
.pirma-sekcija {
    margin-left: calc(50% - 537.99px / 2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 277.67px;
    width: 537.99px;
}
 
.left-side {
    width: 263.79px;
    width: 263.79px;
    height: 138.12px;
}
 
.right-side {
    width: 225.17px;
    height: 277.67px;
 
}
 
.pirma-photo {
    width: 225.17px;
    height: 277.67px;
   
}
 
.left-side h1 {
    font-size: 13.88px;
}
 
.left-side h2 {
    font-size: 20.83px;
    padding-top: 10px;
}
 
.left-side p {
    font-size: 7.81px;
    padding-top: 10px;
    width: 263.79px;
    height: 37px;
}
 
.top-button {
    background-color: white;
    color: #0A0119;
    border-radius: 8.68px;
    margin-top: 2rem;
    width: 80.24px;
    font-size: 8.68px;
    padding: 5.21px 15.62px;
}
 
.top-button:hover {
    color: black;
    cursor: pointer;
}
 
 
 
 
 
 
 
.juliaus-darbas {
    padding-top: 50px;
}
 
 
 
.juliaus-con {
 
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 30vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0A0119;
    width: 537.99px;
    height: 186.18px;
    margin-left: calc(50% - 537.99px / 2);
 
}
 
.juliaus-text {
    width: auto;
    color: white;
    text-align: center;
    background-color: #0A0119;
    margin: 0;
    font-size: 15.62px;
    padding-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
 
p {
    text-align: left;
    color: white;
    font-size: 7.81px;
    line-height: 12.15px;
}
 
.link {
    color: black;
    background-color: white;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 8.68px;
    padding: 5.21px 15.62px;
    font-size: 8.68px;
    font-weight: 700;
    text-decoration: none;
    grid-column-start: 2;
}
 
 
 
 
 
 
 
.projects {
    background-color: #0A0119;
    padding-top: 50px;
}
 
.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'project project project'
        'project project .';
    justify-content: center;
    align-items: center;
    width: 535.82px;
 
    padding: 20px 0px 0 20px;
    margin-left: calc(33.33% - 535.82px / 3);
}
.project {
    width: 200px;
    height: 220px;
    position: relative;
 
}
.text-projects {
    color: #FAFBFF;
    font-size: 15.62px;
    font-weight: 500px;
    width: 4rem;
    height: 0.9rem;
    line-height: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: calc(50% - 2rem);
}
img {
    width: 172.24px;
    height: 172.24px;
    gap: 0px;
    border-radius: 8.68px 0px 0px 0px;
}
.pro-btn {
    display: flex;
    flex-direction: column;
   padding-bottom: 5px;
   width: 172.24px;
   height: 172.24px;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   background-color: rgba(0, 0, 0, 0.423);
   border-radius: 13px;
   gap: 10px;
}
 
 
.view {
    background-color: #F9F5FF;
    border: 0.87px solid #F6F6FE;
    border-radius: 3.47px;
   
}
 
.view:hover {
    background-color: #0A0119;
    color: #F6F6FE;
    cursor: pointer;
    }
 
.git {
    color: #F9F5FF;
    border: 0.87px solid #F6F6FE;
    background-color: transparent;
    border-radius: 3.47px;
}
.git:hover {
    background-color: #0A0119;
    color: #F6F6FE;
    cursor: pointer;
 
}
.text-app {
    color: #FAFBFF;
    line-height: 12.6px;
    font-size: 12px;
   
}
.kalbos-btn.con {
    padding: 2px;
}
.kalbos-btn {
    background-color: transparent;
    font-size: 8px;
    border: 0.87px solid #F6F6FE;
    color: #F6F6FE;
    border-radius: 3.47px;
    padding: 2px 6px;
}
 
.ending {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}
 
.ending p:first-child {
    font-weight: 500;
    font-size: 9.54px;
    line-height: 12.15px;
    margin: 1.5rem 0;
}
 
.contact {
    font-weight: 500;
    font-size: 15.62px;
    line-height: 12.15px;
}
 
.ending>a {
    text-decoration: none;
    color: white;
    font-size: 20.83px;
    line-height: 12.15px;
    font-weight: 500;
    margin: 1.5rem 0;
}
 
footer {
    color: white;
    padding: 20px;
}
 
.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
}
 
.footer>img {
    width: 5rem;
}
 
.footer nav img {
    width: 1.2rem;
    margin-left: 4rem
}
 
footer nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.copyright {
    display: flex;
    margin: 0;
}
 
.copyright img {
    width: 6rem;
    height: 20px;
}